.heart {
    height: 70px;
    width: 70px;
    background: #f20044;
    position: relative;
    transform: rotate(45deg); /* Adjusted rotation */
    box-shadow: -10px 10px 90px #f20044;
    animation: heart 0.6s linear infinite;
}

@keyframes heart {
    0% {
        transform: rotate(45deg) scale(1.07); /* Adjusted rotation */
    }
    80% {
        transform: rotate(45deg) scale(1.0); /* Adjusted rotation */
    }
    100% {
        transform: rotate(45deg) scale(0.8); /* Adjusted rotation */
    }
}

.heart:before,
.heart:after {
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
    border-radius: 50%;
    box-shadow: -10px -10px 90px #f20044, 10px 10px 90px #f20044;
}

.heart:before {
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg); /* Adjusted rotation */
}

.heart:after {
    top: 50%;
    left: -50%;
    transform: translate(-50%, -50%) rotate(45deg); /* Adjusted rotation */
}
